@import '../../index.scss';

header {
  font-family: $primaryFont;
  @include dimensions(100%, 6em);
}

nav {
  @include flex(row);
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin-right: 5.75em;
}

li {
  padding-right: 30px;
}

.page-header {
  font-size: 2em;
  margin-left: 2.75em;
}

.nav-links {
  @include flex(row);
  justify-content: space-around;
  align-items: center;
  width: 12em;
}