@import '../../index.scss';

.cards-container {
  background-image: url(../../assets/homepage.jpeg);
  background-position: center;
  background-size: cover;
  @include dimensions(90%, 80vh);
  border-radius: 15px;
  overflow-y: scroll;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  text-align: center;
  padding: 0 20px;
  margin-left: 5%;
}

.roomies-header {
font-family: $primaryFont;
margin-left: 4.5em;
display: flex;
}

.home-icon {
  @include dimensions(1em, 1em);
  margin-left: 0.25em;
}

.combo {
  display: flex;
  justify-content: space-between;
}