@import '../../index.scss';

.cards-container {
  width: 90%;
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  text-align: center;
  margin-left: 5%;
}

.roomies-header {
font-family: $accentFont;
margin-left: 4.5em;
display: flex;
margin-top: 3em;
}

.home-icon {
  @include dimensions(1em, 1em);
  margin-left: 0.25em;
}